# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

## NODE

node_modules/

yarn-error*
yarn-debug*

# dependencies
src/**/node_modules/
src/**/.pnp
src/**/.pnp.js

# testing
src/**/coverage

# production
src/**/build

# misc
src/**/.DS_Store
src/**/.env.local
src/**/.env.development.local
src/**/.env.test.local
src/**/.env.production.local

src/**/package-lock.json
src/**/npm-debug.log*
src/**/yarn-debug.log*
src/**/yarn-error.log*
